PORT=5017
NODE_ENV=production
FRONTEND_URL=https://bookingplatfrom-frontend-pao7d3-c7a8c1-2-24-82-111.sslip.io

DATABASE_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
EXPIRES_IN=10d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
REFRESH_EXPIRES_IN=30d

NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=

SUPER_ADMIN_EMAIL=admin@restaurant.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123
